<article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">BookCommunication</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <a href="" class="button is-primary is-fullwidth"> ログイン</a>
          <br>
          <a href="" class="button is-primary is-fullwidth"> 新規登録</a>
        </div>
      </div>
    </div>
  </article>